{% extends 'base.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('css/event.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
	<article class="panel event">
		<header class="panel-heading">
			<h2>New Event</h2>
		</header>
		<div class="panel-body">
			{{ form(form) }}
		</div>
	</div>
{% endblock %}