{% extends 'base.html.twig' %}

{% block body %}
	{% embed "components/content-article.html.twig" %}
		{% block title %}
			{{ event.getTitle() }}
			{% embed "components/email-link.html.twig" with {
				subject: 'Invitation ' ~ event.getTitle(),
				body: 'You are invited to "' ~ event.getTitle() ~ '"%0D%0ASubscribe on http://events.tld/events/' ~ event.getId(),
				label: 'Send link'
			} %}{% endembed %}
		{% endblock %}

		{% block content %}
			{{ event.getFormattedDescription() | raw }}
		{% endblock %}

		{% block footer %}
			<p>Organizer: {{ event.getOrganizer() }}</p>
		{% endblock %}
	{% endembed %}
{% endblock %}
