body {
	/* Some rights reserved by Jacek Becela https://flic.kr/p/3qDqCj */
	background-image: url("https://live.staticflickr.com/2015/1591611426_8d2cedc486_o.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
}
html, body {
	width: 100%;
	height: 100%;
}

.app {
	height: 100%;
	width: 100%;
	max-width: 1024px;
	margin: auto;

	padding: 1rem;
}