.event {
	background-color: rgba(255,255,255,0.75);
	border: 0;
	border-radius: 2px;
}

.event > .panel-heading {
	background: rgba(0,0,0,0.5);
	border-radius: 2px;
}
.event > .panel-heading > h2 {
	margin-top: 0.5rem;
	color: white;
}
.event .send-link {
	font-size: 0.5em;
	float: right;
	padding: 0.5em 1em;
}
.event .send-link:visited, .event .send-link:link, .event .send-link:hover {
	color: white;
}

.event > .panel-footer {
	background: rgba(150,150,150,0.5);
	border-radius: 2px;
}
.event > .panel-footer > p {
	font-weight: bold;
	margin: 0;
}