{% block stylesheets %}
	<link href="{{ asset('css/components/content-article.css') }}" rel="stylesheet"/>
{% endblock %}


<article class="panel content-article">
	{% if block('title') %}
	<header class="panel-heading">
		<h2>{% block title %}{% endblock %}</h2>
	</header>
	{% endif %}

	<div class="panel-body">
		{% block content %}{% endblock %}
	</div>

	{% if block('footer') %}
	<footer class="panel-footer">
		{% block footer %}{% endblock %}
	</footer>
	{% endif %}
</article>
